<!DOCTYPE html>
<html>
<head>
  <title>ScrabbleWeb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |type, message| %>
    <%= content_tag :p, message, id: "#{type}" %>
  <% end %>
  <%= yield %>
</body>
</html>
